<div id="loginPage">

    <div id="loginHero">
        <!-- Image with CSS-->
    </div>

    <div>
        <div id="loginAndRegisterContainer">
            <%- include('../partials/flash') %>

            <h1>Sign up</h1>
            <form action="/user/register" method="post" id="registerForm">

                <div id="formGridContainer">
                    <label for="username">
                        Username:
                    </label>
                    <input type="text" name="username" id="username" required minlength="4" autofocus placeholder="Username">
                
                    <label for="password">
                        Password:
                    </label>
                    <input type="password" name="password" id="password" required minlength="6" placeholder="Password">
                
                
                    <label for="fname">
                        First name:
                    </label>
                    <input type="text" name="fname" id="text" required minlength="2" placeholder="First name">
                
                
                    <label for="lname">
                        Last name:
                    </label>
                    <input type="text" name="lname" id="password" required minlength="2" placeholder="Last name">
                </div>            
                <button type="submit">Register</button>
            </form>

            <p>Already have an account? Log in <a href="/user/login">here!</a></p>
            
        </div>
    </div>
</div>