<div id="landingpage-hero">
    <div id="landingpage-content">
        <%- include('../partials/flash') %>
        
        <h1>Assigment B1 - CRUD</h1>
        <h2>Create, read, update and delete snippets!</h2>
    </div>
</div>

<main>
    <h1>Welcome To B1</h1>
    <p>This is the assignemnt B1 in the course 1dv026 at LNU.</p>

    <div id="instructions">
        <h2>Instructions:</h2>
        <ol>
            <li>Create an account <a href="/user/register">here</a></li>
            <li>Or, if you already have an account log in <a href="/user/login">here</a></li>
            <li>Be creative and write your own snippets!</li>
            <li>Have fun!</li>
        </ol>
    </div>
</main>